.exchange--choose--exchange {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.exchange--choose--exchange--from--container,
.exchange--choose--exchange--to--container {
	display: flex;
	flex-direction: column;
	margin: 0 25px;
}

.exchange--choose--exchange--from--input--container {
	display: flex;
	align-items: center;
}

.exchange--choose--exchange--from--selected {
	padding: 17px 25px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #555598;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.exchange--choose--selected .fa {
	margin-left: 8px;
}
