.exchange--choose--exchange {
	display: flex;
	justify-content: center;
	padding: 40px 0;
	color: #888;
}

.exchange--choose--exchange--from--container,
.exchange--choose--exchange--to--container {
	display: flex;
	flex-direction: column;
	margin: 0 25px;
}

.exchange--choose--exchange--from--input--container {
	display: flex;
	align-items: center;
}

.exchange--choose--exchange--from--selected {
	padding: 17px 25px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #555598;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.exchange--choose--selected .fa {
	margin-left: 8px;
}

.exchange--choose--exchange--selected--currencies--container {
	display: flex;
	align-items: center;
	margin-top: 40px;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.4s ease;
}

.exchange--choose--currencies--button {
	background-color: #565698;
	padding: 20px;
	font-size: 1.9em;
	color: #fff;
	cursor: pointer;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
