.landing--cover--content {
	padding-top: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.landing--cover--content--text {
	width: 40%;
	margin-right: 10px;
}

.landing--cover--content--box--container {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.landing--cover--content--box {
	text-align: center;
	background-color: #fff;
	border-radius: 3px;
	width: 80%;
	max-width: 500px;
	color: #888;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	z-index: 999;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px 20px;
}

.landing--cover--content--box--currency {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}

.landing--cover--content--box--image--container {
	width: 180px;
	padding: 15px 0;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.landing--cover--content--box--image--container:hover {
	background-color: #dadada;
	cursor: pointer;
}

.landing--cover--content--box--image {
	width: 100px;
	height: 100px;
}

.landing--cover--content--box--selected--currencies {
	align-items: center;
	justify-content: center;
	padding-bottom: 15px;
}

.landing--cover--content--box--button {
	width: 80%;
	margin: 10px auto;
}

@media (max-width: 960px) {
	.landing--cover--content {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.landing--cover--content--text {
		width: 100%;
	}
	.landing--cover--content--box--container {
		padding: 40px 0;
	}
	.landing--cover--content--box {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.landing--cover--content--box {
		width: 80%;
		margin: 0 auto;
	}
}
