.currency--wallet--header {
	text-align: center;
	padding: 20px 0;
	color: #565698;
	border-bottom: 1px solid #888;
}

.currency--wallet--content {
	border-bottom: 1px solid #888;
	padding-bottom: 40px;
}

.currency--wallet--table--headers {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 10px;
	color: #888;
}

.currency--wallet--header--name {
	width: 15%;
}

.currency--wallet--header--amount {
	width: 20%;
}

.currency--wallet--header--address {
	width: 45%;
}

.currency--wallet--header--delete {
	width: 5%;
}

.currency--wallet--button--container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
}

.currency--wallet--save--button {
	width: 200px;
	opacity: 0;
	transition: all 0.4s ease;
	position: absolute;
	visibility: hidden;
}

.currency--wallet--submit--error {
	margin-bottom: 15px;
}

.currency--wallet--submit--success {
	color: #27ab27;
	margin-bottom: 15px;
}

.currency--wallet--add--currency {
	background-color: #555598;
	height: 70px;
	width: 70px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	position: absolute;
}

.currency--wallet--add--currency .fa {
	font-size: 1.5em;
}
