.currency--wallet--header {
	text-align: center;
	padding: 20px 0;
	color: #565698;
	border-bottom: 1px solid #888;
}

.currency--wallet--content {
	border-bottom: 1px solid #888;
	padding-bottom: 40px;
}

.currency--wallet--table--headers {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 10px;
	color: #888;
}

.currency--wallet--header--name {
	width: 15%;
}

.currency--wallet--header--amount {
	width: 20%;
}

.currency--wallet--header--address {
	width: 45%;
}

.currency--wallet--header--delete {
	width: 5%;
}

.currency--wallet--button--container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.currency--wallet--save--button {
	width: 200px;
}
