.exchange--choose--currency--list--container {
	position: absolute;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	color: #888;
	flex-direction: column;
	align-items: center;
	display: flex;
	min-width: 200px;
	top: 55px;
	left: -50px;
	max-height: 300px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
	overflow: scroll;
}

.exchange--choose--currency--list--inner--container {
	width: 100%;
}

.exchange--choose--currency--list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
}

.exchange--choose--currency--list li {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 12px;
	width: 100%;
}

.exchange--choose--currency--list li:hover {
	background-color: #555598;
	color: #fff;
}

.exchange--choose--currency--list--search {
	padding: 10px;
	font-size: 1.2em;
	border-radius: 3px;
	border: 2px solid #ededed;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	background-color: #ededed;
	outline: none;
}

.exchange--choose--currency--list--search:focus {
	border-bottom: 2px solid rgba(38, 38, 97, 1);
}

.exchange--choose--currency--list li img {
	height: 20px;
	width: 20px;
	border-radius: 100%;
}

.choose--currency--list--image--container {
	width: 30%;
	display: flex;
	justify-content: center;
}

.choose--currency--list--currency--name {
	width: 70%;
	margin: 0;
}
