.sidebar--wallet {
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
	border: 1px solid #fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.sidebar--wallet--container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.sidebar--wallet--header {
	text-align: center;
	color: #fff;
	padding: 20px 0;
	border-bottom: 1px solid #e0dfdf;
}

.sidebar--wallet--list {
	padding: 0;
	list-style-type: none;
	width: 100%;
	padding: 25px 0;
}

.sidebar--wallet--list li {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	color: #fff;
	padding: 8px 0;
}

.sidebar--wallet--list li img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.sidebar--wallet--list li p {
	width: 15%;
	font-family: Montserrat;
}

.sidebar--wallet--list li .fa {
	cursor: pointer;
}

.wallet--list--item--copy {
	position: relative;
	width: 60%;
}

.wallet--list--item--input {
	width: 80%;
}

.wallet--list--item--copy--button {
	margin-right: 20px;
	width: 50px;
	height: 50px;
	color: #fff;
	background-color: #555598;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.copy--flash--message {
	color: #fff;
	border-radius: 3px;
	padding: 15px;
	position: absolute;
	left: 5%;
	top: 25%;
	background-color: #30a530;
}

.sidebar--wallet--inner--container {
	width: 100%;
	color: #888;
	display: flex;
	flex-direction: column;
}

.sidebar--wallet--placeholder {
	padding: 20px;
	text-align: center;
}

.sidebar--wallet .currency--portfolio--add--button {
	background-color: #555598;
	color: #fff;
}
