.search--currency--container {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #888;
	width: 80%;
	margin: 0 auto;
}

.search--currency--header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.search--currency--selector--layover {
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 0.5s ease;
	opacity: 0;
	overflow-y: scroll;
	height: 100%;
	background-color: #fff;
	z-index: 1000;
	min-height: 100%;
}

.search--currency--exit {
	height: 50px;
	width: 50px;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 100%;
	font-size: 2.5em;
	color: #3a3838;
	background-color: #fff;
	font-family: Roboto;
	position: fixed;
	left: 90%;
}

.search--currency--exit:hover {
	cursor: pointer;
}

.search--currency--container h2 {
	color: #000;
}

.search--currency--searchfield {
	width: 80%;
	padding: 15px;
	color: #888;
	border: none;
	font-size: 1.3em;
	border-bottom: 2px solid rgba(38, 38, 97, 0.8);
	margin: 25px;
	max-width: 400px;
	outline: none;
}

.search--currency--searchfield::placeholder {
	color: #888;
}

.search--currency--results {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.search--currency--fab {
	position: fixed;
	width: 80px;
	height: 80px;
	background: #644f8e;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	font-size: 2em;
	top: 85%;
	left: 85%;
}

.load--more--button {
	margin: 40px auto;
	visibility: hidden;
	opacity: 0;
	width: 400px;
	max-width: 400px;
}

.search--currency--fab:hover {
	cursor: pointer;
}

@media (max-width: 790px) {
	.search--currency--header {
		margin-top: 50px;
	}

	.search--currency--fab {
		left: 80%;
	}

	.search--currency--exit {
		left: 80%;
		top: 3%;
	}
}

@media (max-width: 490px) {
	.search--currency--fab {
		left: 70%;
	}
}
