.account--settings--change--password--container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.account--password--confirm--container {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	transition: all 0.4s ease;
}

.account--password--input--container,
.account--password--confirm--container {
	color: #888;
	display: flex;
	flex-direction: column;
	margin: 12px;
	align-items: center;
	text-align: left;
}

.account--password--input--container label,
.account--password--confirm--container label {
	margin-right: auto;
}

.account--password--input {
	width: 400px;
}

.change--password--button {
	margin-top: 25px;
	visibility: hidden;
	position: absolute;
	opacity: 0;
	transition: opacity 0.4s ease;
}
