.dashboard--action--button,
.dashboard--action--button--wallet,
.dashboard--action--button--exchange,
.dashboard--action--button--portfolio {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	background-color: #555598;
	position: fixed;
	left: 80%;
	top: 85%;
	font-size: 1.5em;
	cursor: pointer;
}

.dashboard--action--button--wallet,
.dashboard--action--button--exchange,
.dashboard--action--button--portfolio {
	width: 50px;
	height: 50px;
	left: 81%;
	top: 78%;
	font-size: 0.8em;
	visibility: none;
	opacity: 0;
}

.dashboard--action--button--wallet {
	background-color: #38ab38;
}

.dashboard--action--button--exchange {
	top: 71%;
	background-color: #ff5d56;
}

.dashboard--action--button--portfolio {
	top: 64%;
	background-color: steelblue;
}
