.currency--line--chart--container {
	border-radius: 3px;
}

.currency--line--chart--header {
	display: flex;
	justify-content: space-between;
	color: #e0dfdf;
	align-items: center;
}

.currency--line--chart--navigation,
.currency--line--chart--timeperiod--navigation {
	list-style-type: none;
	display: flex;
}

.currency--line--chart--navigation li,
.currency--line--chart--timeperiod--navigation li {
	margin: 0 10px;
	padding: 15px 0;
	transition: background-color 0.4s ease, padding 0.4s ease;
	cursor: pointer;
}

.currency--line--chart--timeperiod--navigation li {
	display: flex;
	align-items: center;
}

.currency--line--chart--navigation li:hover,
.currency--line--chart--timerperiod--navigation li:hover {
	cursor: pointer;
}

li.currency--line--chart--navigation--active {
	background-color: #555598;
	color: #e0dfdf;
	border-radius: 3px;
	padding: 8px;
}

.currency--line--chart--wrapper {
	padding: 20px;
}

.currency--line--chart--details {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	color: #e0dfdf;
	padding: 15px;
	border: 1px solid #e0dfdf;
}

.currency--line--chart--details--price,
.currency--line--chart--details--trending {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #fff;
}

.currency--line--chart--details--price h3 {
	margin: 0;

	font-size: 2.5em;
}

.currency--line--chart--details--trending .fa {
	font-size: 2em;
}

.trending--positive {
	color: #55bb4e;
}

.trending--negative {
	color: #ff6262;
}

.currency--line--chart--price {
	margin: 0;
}

.currency--line--chart--select--container {
	height: 100%;
	align-items: center;
	padding: 15px 0;
	cursor: pointer;
	justify-content: flex-start;
}

.currency--line--chart--custom--select {
	margin-left: 10px;
	position: relative;
}

.currency--line--chart--custom--select--dropdown {
	position: absolute;
	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	min-width: 350px;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	opacity: 0;
	top: 290px;
	border-radius: 3px;
	color: #888;
}

.currency--line--chart--custom--list {
	padding: 0;
}

.currency--custom--select--item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.currency--custom--select--item:hover {
	background-color: #555598;
	color: #fff;
	cursor: pointer;
}

.currency--custom--select--item--img {
	width: 10%;
	margin-left: 10px;
}

.currency--custom--select--item--name {
	width: 60%;
	text-align: center;
}

.currency--custom--select--item--price {
	width: 40%;
	text-align: right;
	margin-right: 10px;
	font-family: Montserrat, sans-serif;
}

.currency--custom--select--item--price p {
	display: flex;
	justify-content: flex-end;
}

.currency--custom--select--item img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin-right: 5px;
}

.currency--line--chart--custom--select--selected {
	font-size: 1.5em;
}

@media (max-width: 790px) {
	.currency--line--chart--custom--select--dropdown {
		margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
		left: 0;
		right: 0;
	}

	.currency--line--chart--details--price h3 {
		font-size: 1.8em;
	}

	.currency--line--chart--custom--select--selected {
		font-size: 1.1em;
	}

	.currency--line--chart--select--container {
		text-align: center;
	}
}
