.admin--add--blog {
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 800px;
	width: 80%;
	padding: 15px;
	border-radius: 3px;
	box-sizing: border-box;
}

.admin--add--blog input {
	width: 100%;
	padding: 10px 0;
	font-size: 1.1em;
	border: none;
	border-bottom: 2px solid #888;
	margin: 5px 0 20px 0;
	outline: none;
	transition: border-bottom 0.4s ease;
}

.admin--add--blog form {
	width: 80%;
	margin: 0 auto;
}

.admin--add--blog input:focus {
	border-bottom: 2px solid #555598;
}

