.mobile--wallet {
	padding-top: 50px;
}

.mobile--wallet .sidebar--wallet {
	background-color: transparent;
	box-shadow: none;
	width: 100%;
}

.mobile--wallet .sidebar--wallet--header {
	font-size: 1.4em;
	border-top: 1px solid #e0dfdf;
	border-bottom: 1px solid #e0dfdf;
	padding: 25px 0;
	width: 100%;
	text-align: center;
}

.mobile--wallet .main--input {
	font-size: 0.8em;
}

.mobile--wallet .sidebar--wallet--header {
	color: #fff;
}

.mobile--wallet .sidebar--wallet--list li {
	color: #fff;
	justify-content: space-around;
}

.mobile--wallet .sidebar--wallet--list li img {
	display: none;
}

.mobile--wallet .wallet--list--item--copy--button {
	margin-right: 20px;
	width: 50px;
	height: 50px;
	color: #fff;
	background-color: #555598;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.mobile--wallet .sidebar--wallet--placeholder {
	color: #fff;
}

label.currency--wallet--label {
	margin: 8px 0;
}

@media (max-width: 420px) {
	.mobile--wallet .sidebar--wallet--list li {
		display: flex;
		flex-direction: column;
		border: 1px solid #fff;
		width: 80%;
		margin: 20px auto;
		border-radius: 3px;
		padding: 15px;
		box-sizing: border-box;
		align-items: center;
	}

	.mobile--wallet .wallet--list--item--copy--button {
		margin: 10px 0;
	}
}
