.dashboard--portfolio--chart {
	box-sizing: border-box;
	width: 65%;
}

.dashboard--portfolio--chart header {
	border-radius: 3px;
	border: 1px solid #fff;
	display: flex;
	justify-content: space-around;
	color: #fff;
	margin: 10px 0;
}

.dashboard--portfolio--chart header h1 {
	margin-bottom: 0;
}

.dashboard--portfolio--value,
.dashboard--portfolio--24hr--percentage {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.dashboard--portfolio--value h1 {
	display: flex;
	font-size: 2em;
}

.dashboard--portfolio--percentage--positive {
	color: #60f160;
}

.dashboard--portfolio--percentage--negative {
	color: #ff6a6a;
}

.dashboard--portfolio--value .spinner {
	border: 5px solid #ededed;
	border-top: 5px solid #555598;
	width: 20px;
	height: 20px;
}
