.currency--wallet--current {
	display: flex;
	justify-content: space-around;
}

.currency--wallet--image h4 {
	margin-left: 10px;
}

.currency--wallet--current img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.currency--wallet--current--info {
	width: 15%;
	display: flex;
	justify-content: center;
}

.currency--wallet--image {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.currency--wallet--amount {
	display: flex;
	align-items: center;
	width: 20%;
	position: relative;
}

.currency--wallet--address {
	padding: 10px;
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.currency--wallet--address .fa {
	color: #565698;
	font-size: 1.1em;
	cursor: pointer;
}

.currency--wallet--address--non--edit {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.currency--wallet--settings--input {
	width: 100%;
	padding: 0;
}

.currency--wallet--current--info.currency--wallet--delete {
	width: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #888;
}

.currency--wallet--delete .fa {
	cursor: pointer;
	font-size: 1.2em;
}

.currency--wallet--error--message {
	position: absolute;
	background-color: #fff;
	padding: 10px;
	color: #ff6262;
	border-radius: 3px;
	top: -20px;
}
