.mobile--currencies--list--item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.mobile--currencies--list--item--img {
	width: 10%;
}

.mobile--currencies--list--item--img img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.mobile--currencies--list--item--name {
	width: 40%;
	margin-left: 10px;
}

.mobile--currencies--list--item--percentage {
	width: 20%;
	text-align: center;
	font-family: Montserrat, sans-serif;
}

.mobile--currencies--list--item--percentage--positive {
	color: #60f160;
}

.mobile--currencies--list--item--percentage--negative {
	color: #ff6a6a;
}

.mobile--currencies--list--item--price {
	width: 30%;
	display: flex;
	justify-content: center;
	font-family: Montserrat, sans-serif;
}

.mobile--currency--menu {
	background-color: #cc5151;
	border-radius: 3px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	position: absolute;
	right: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
}

.mobile--currency--menu--list {
	list-style-type: none;
	padding: 0;
	border-radius: 3px;
}

.mobile--currency--menu--list li {
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}

@media (max-width: 400px) {
	.mobile--currencies--list--item--name {
		width: 25%;
	}

	.mobile--currencies--list p {
		font-size: 0.9em;
	}

	.mobile--currencies--list--item {
		flex-wrap: wrap;
		border: 1px solid #fff;
		margin: 10px;
		border-radius: 3px;
		padding: 10px;
		box-sizing: border-box;
	}

	.mobile--currencies--list--item--img {
		width: auto;
	}

	.mobile--currencies--list--item--name {
		width: auto;
	}

	.mobile--currencies--list--item--percentage {
		width: auto;
	}

	.mobile--currencies--list--item--price {
		width: 100%;
	}
}
