.header {
	color: #fff;
}

.header--dashboard {
	background-color: #3f3f80;
}

.header--nav {
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
}

.header--logo {
	font-weight: bold;
	font-size: 2.2em;
}

.header--nav li {
	padding: 0 15px;
}

li.header--nav--selected {
	border: 2px solid #fff;
	border-radius: 3px;
	padding: 8px 15px;
}

.header--nav--signed--in {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header--nav--signed--in img {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	margin-right: 10px;
}

.header--nav--signed--in p {
	margin-right: 10px;
}

.header--nav--signed--in:hover {
	cursor: pointer;
}

.header--nav--dropdown--container {
	position: relative;
}

.header--nav--dropdown {
	top: 30px;
	left: -135px;
	position: absolute;
	transition: all 0.4s ease;
	opacity: 0;
	visibility: hidden;
	width: 180px;
	background-color: #fff;
	color: #888;
	border-radius: 3px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	z-index: 20;
}

.header--nav--dropdown--clicked {
	opacity: 1;
	visibility: visible;
}

.header--nav--dropdown--list {
	list-style-type: none;
	padding-left: 0;
}

.header--nav--dropdown--list li {
	padding: 10px 20px;
	display: flex;
	cursor: pointer;
}

.header--nav--dropdown--list li:hover {
	background-color: #d0cfd2;
	border-radius: 3px;
}

.header--nav--dropdown--list li .fa {
	margin-right: 10px;
}
