.exchange--confirm--amounts {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.exchange--confirm--amounts--currency--container {
	color: #888;
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid #888;
	padding: 20px 0;
}

.exchange--confirm--amounts--currency {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.exchange--confirm--amounts--currency img {
	width: 40px;
	border-radius: 100%;
}

.exchange--confirm--amounts--exchange--icon {
	font-size: 1.9em;
	margin: 40px;
}

.exchange--confirm--amounts--amount {
	color: #000;
	font-weight: bold;
	font-family: Montserrat, sans-serif;
}

.exchange--confirm--amounts--minimum--amount {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
}

.exchange--confirm--amounts--header {
	position: relative;
	display: flex;
	justify-content: center;
}

.exchange--confirm--amounts--header .fa {
	color: #888;
	margin-left: 10px;
}

.minimum--amount--tooltip {
	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	padding: 25px;
	position: absolute;
	color: #fff;
	background-color: #565698;
	min-width: 400px;
	font-size: 0.9;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	line-height: 1.1;
	left: 50px;
	top: 25px;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
}

.exchange--confirm--amounts--minimum--amount--container {
	display: flex;
	flex-direction: column;
	color: #888;
	max-width: 400px;
	padding: 20px 0;
}

.exchange--confirm--minimum--amount--checkbox {
	display: flex;
	align-items: center;
}

.exchange--confirm--minimum--amount--checkbox p {
	margin-left: 15px;
	color: #000;
}

.minimum--amount--confirm--box {
	padding: 2px;
	border-radius: 3px;
	border: 1px solid #555598;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: all 0.4s ease;
	cursor: pointer;
}

.minimum--amount--confirm--box--checked {
	background-color: #555598;
	color: #fff;
}

.minimum--amount--button {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	width: 200px;
	text-align: center;
}
