.currency--wallet--add--currency .fa {
	font-size: 1.5em;
}

.currency--add--wallet--select--currency--container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add--wallet--form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 0;
	text-align: center;
}

.add--wallet--form form {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.add--wallet--form--input--container {
	display: flex;
	flex-direction: column;
	margin: 10px;
	text-align: left;
}

.add--wallet--form--input--container label {
	color: #888;
}

.add--wallet--amount--input--container {
	width: 30%;
}

.add--wallet--address--input--container {
	width: 70%;
}

.add--wallet--button {
	width: 200px;
	margin: 10px auto;
	visibility: hidden;
	position: absolute;
	transition: opacity 0.4s ease;
	opacity: 0;
}

.currency--add--wallet--content {
	display: flex;
	justify-content: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	align-items: center;
}

.currency--add--wallet--currency--container {
	display: flex;
	width: 80%;
	justify-content: center;
	flex-wrap: wrap;
}

.currency--add--wallet--currency {
	border: 1px solid #888;
	border-radius: 3px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 300px;
	color: #888;
	margin: 10px;
	flex-basis: 20%;
	cursor: pointer;
}

.currency--add--wallet--currency img {
	width: 70px;
	height: 70px;
	border-radius: 100%;
}

.currency--add--wallet--currency--selected {
	border: 2px solid #565698;
}
