.register--box--container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.register--container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 80%;
}

.register--state--info {
	padding-top: 50px;
}

.register--state--img {
	height: 50px;
	width: 50px;
	padding: 10px;
}

.register--box {
	margin: 60px 0;
	background-color: #fff;
	color: #888;
	padding: 20px;
	width: 60%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 35px;
	border-radius: 3px;
}

.register--box--input--container {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.register--box--input--group {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
}

.auth--button {
	width: 100%;
	font-family: Raleway, sans-serif;
	margin-top: 20px;
}

.register--alternative--signup {
	display: flex;
}
