.dashboard {
	background: linear-gradient(0deg, rgba(38, 38, 97, 0.8), rgba(38, 38, 97, 0.8)), url('../../img/starrysky3.jpg');
}

.dashboard--navigation {
	background-color: #fff;
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	z-index: 10;
	position: relative;
}

.dashboard--content {
	min-height: 100vh;
	padding: 60px 0;
}

.dashboard--navigation--list {
	display: flex;
	list-style-type: none;
	margin: 0 10px;
	padding-left: 0;
	color: #888;
}

.dashboard--navigation--list li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 12px;
	cursor: pointer;
	border-bottom: 2px solid #fff;
	transition: all 0.4s ease;
}

.dashboard--navigation--list li:hover {
	border-bottom: 2px solid #888;
}

li.dashboard--navigation--list--active {
	color: #555598;
	border-bottom: 2px solid #555598;
}

li.dashboard--navigation--list--active:hover {
	border-bottom: 2px solid #555598;
}

.dashboard--navigation--list .fa {
	margin-right: 7px;
	font-size: 1.2em;
}

.dashboard--container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.dashboard--content--chart {
	background-color: transparent;
	border-radius: 3px;
	margin: 10px;
}

.dashboard--currency {
	justify-content: space-between;
	width: 100%;
}

.dashboard--currency--container {
	display: flex;
	flex-wrap: wrap;
}

.dashboard--wrapper {
	height: 100%;
}

.dashboard--outer--container {
	width: 100%;
	height: 100%;
}
