.forgot--password {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.forgot--password label {
	text-align: left;
}

@media (max-width: 790px) {
	.forgot--password .register--box {
		width: 100%;
		background-color: transparent;
		box-shadow: none;
		color: #fff;
	}

	.forgot--password {
		height: 100vh;
	}

	.forgot--password .main--input {
		background: transparent;
		transition: all 0.4s ease;
		color: #fff;
		border: 2px solid #fff;
	}

	.forgot--password .main--input:focus {
		border: 2px solid transparent;
		border-bottom: 2px solid #fff;
	}
}
