.dashboard--portfolio--activity--log {
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #fff;
	width: 35%;
	margin: 0 0 0 60px;
	display: flex;
	flex-direction: column;
	height: 505px;
}

.dashboard--portfolio--activity--log h1 {
	text-align: center;
	background-color: #555598;
	margin: 0;
	padding: 15px;
	color: #fff;
	font-size: 1.4em;
}

.dashboard--portfolio--activity--log > ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

.dashboard--portfolio--activity--log--pagination--buttons {
	display: flex;
	justify-content: center;
	margin-top: auto;
	padding-bottom: 10px;
}

.dashboard--portfolio--activity--log--placeholder {
	padding: 10px;
	display: flex;
	flex-direction: column;
	color: #585858;
	align-items: center;
}

.dashboard--portfolio--activity--log--add--record {
	width: 40px;
	height: 40px;
	background-color: #555598;
	color: #fff;
	border: none;
	margin: 15px auto;
	border-radius: 50%;
	font-family: Montserrat, sans-serif;
	font-size: 1.3em;
	cursor: pointer;
}
