@import './components/Landing/landing.css';
@import './components/Header/header.css';
@import './components/SearchCurrencies/searchcurrencies.css';
@import './components/SearchCurrencies/CurrencyCard/currencycard.css';
@import './components/Register/register.css';
@import './components/Auth/SocialLoginWrapper/socialloginwrapper.css';
@import './components/Dashboard/dashboard.css';
@import './components/Dashboard/CurrencyStatCard/currencystatcard.css';
@import './components/Dashboard/CurrencyPortfolio/currencyportfolio.css';

.frontend--background {
  height: 100%;
  background: linear-gradient(0deg, rgba(38, 38, 97, 0.8), rgba(38, 38, 97, 0.8)), url('./img/starrysky.jpeg');
  background-size: cover;
  position: relative;
  color: #fff;
}

.main-button {
  background-color: #555598;
  border: none;
  color: #fff;
  padding: 20px;
  font-family: Raleway, sans-serif;
  font-size: 1.2em;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box {
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.visible {
  visibility: visible;
}

.opacity {
  opacity: 1;
}

.flex {
  display: flex;
}

.block {
  display: block;
}
