.frontend--features {
	background: linear-gradient(0deg, rgba(38, 38, 97, 0.8), rgba(38, 38, 97, 0.8)), url('../../../img/starrysky3.jpg');
	background-repeat-y: repeat;
	color: #fff;
	text-align: center;
	padding-bottom: 60px;
}

.frontend--features--container {
	width: 80%;
	margin: 0 auto;
}

.frontend--features h1 {
	margin-top: 0;
	border-top: 1px solid #e0dfdf;
	border-bottom: 1px solid #e0dfdf;
	padding: 20px;
}

.frontend--features--container {
	width: 80%;
	margin: 0 auto;
	display: flex;
}

.frontend--features--track {
	min-height: 100vh;
	padding-bottom: 60px;
	border-bottom: 1px solid #e0dfdf;
}

.frontend--track--img {
	height: 250px;
	border-radius: 3px;
}

.frontend--features--track--information {
	width: 100%;
	box-sizing: border-box;
	margin-left: 20px;
	padding: 60px 20px 20px 20px;
	text-align: center;
}

.frontend--features--track--information p {
	max-width: 400px;
	margin: 30px auto;
	line-height: 1.5;
	font-size: 1.1em;
}

.frontend--features--track--header {
	display: flex;
	align-items: center;
	font-size: 1.5em;
	justify-content: center;
	max-width: 80%;
	margin: 0 auto;
}

.frontend--features--track--header .fa {
	margin-right: 10px;
}

.frontend--features--track--box--container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.frontend--features--track--box {
	width: 300px;
	height: 300px;
	background-color: #fff;
	color: #555598;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0, 0, 80, 0.19), 0 6px 6px rgba(0, 0, 80, 0.23);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.frontend--features--track--box--left--handle,
.frontend--features--track--box--right--handle {
	width: 150px;
	height: 5px;
	position: absolute;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
	top: -2px;
	left: -149px;
	background-color: #fff;
}

.frontend--features--track--box--right--handle {
	top: -4px;
	left: 146px;
	transform: rotate(135deg);
}

.features--box--currency,
.fiat--currency--box {
	height: 65px;
	width: 65px;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0, 0, 80, 0.19), 0 6px 6px rgba(0, 0, 80, 0.23);
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 10px;
	color: #555598;
	font-size: 1.5em;
}

.features--box--currency .cc {
	color: #555598;
}

.features--box--currency.features--box--currency--bitcoin {
	transform: translateY(80px) translateX(-29px) rotate(30deg);
}

.features--box--currency.features--box--currency--ethereum {
	transform: translateY(52px) translateX(65px) rotate(40deg);
}

.features--box--currency.features--box--currency--neo {
	transform: translateY(30px) translateX(-30px) rotate(-30deg);
}

.features--box--currency.features--box--currency--gno {
	transform: translateY(6px) translateX(67px) rotate(30deg);
}

.features--box--currency.features--box--currency--doge {
	transform: translateY(-20px) translateX(-14px) rotate(-30deg);
}

.frontend--features--track--sample--list {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	width: 80%;
}

.frontend--features--track--sample--list > li {
	display: flex;
	position: relative;
}

.frontend--features--track--sample--list > li > h4 {
	width: 33%;
	margin: 8px 0;
}

.frontend--features--track--sample--list > li h4:last-child {
	display: flex;
}

.samplecurrency--positive {
	color: #60f160;
}

.samplecurrency--negative {
	color: #ff6a6a;
}

.samplecurrency--updated {
	height: 10px;
	width: 10px;
	position: absolute;
	background-color: #60f160;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	left: -20px;
	top: 12px;
	transition: opacity 0.4s ease;
	opacity: 0;
}

/* FRONTEND CURRENCY FEATURE */

.frontend--features--currency--header {
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 80%;
	margin: 0 auto;
}

.frontend--features--currency--header .fa {
	margin-right: 10px;
}

.frontend--features--currency--information {
	width: 50%;
}

.frontend--features--currency--information p {
	max-width: 450px;
	margin: 40px auto;
	line-height: 1.5;
	font-size: 1.1em;
}

.frontend--features--currency--container {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
}

.frontend--features--currency--stickman {
	display: flex;
	flex-direction: column;
	margin: 50px;
	align-items: center;
}

.stickman--head {
	background-color: #fff;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	opacity: 0;
}

.stickman--body {
	height: 150px;
	width: 5px;
	background-color: #fff;
	position: relative;
	border-radius: 3px;
}

.stickman--body .fa-globe {
	color: #fff;
	font-size: 7em;
	transform: translateY(-90px) translateX(-40px);
}

.stickman--left--arm--part--one,
.stickman--right--arm--part--one {
	width: 5px;
	height: 70px;
	background-color: #fff;
	position: absolute;
	top: 15px;
	left: -28px;
	transform: rotate(55deg);
	border-radius: 3px;
}

.stickman--left--arm--part--two,
.stickman--right--arm--part--two {
	width: 5px;
	height: 70px;
	background-color: #fff;
	position: absolute;
	left: -75px;
	transform: rotate(144deg);
	top: 6px;
	border-radius: 3px;
}

.stickman--right--arm--part--one {
	left: 27px;
	transform: rotate(-55deg);
}

.stickman--right--arm--part--two {
	transform: rotate(-144deg);
	left: 73px;
}

.stickman--left--hand,
.stickman--right--hand {
	width: 5px;
	height: 40px;
	background-color: #fff;
	position: absolute;
	left: -113px;
	top: -6px;
	transform: rotate(90deg);
	border-radius: 3px;
}

.stickman--right--hand {
	left: 110px;
}

.stickman--left--leg,
.stickman--right--leg {
	height: 150px;
	width: 5px;
	border-radius: 3px;
	transform-origin: top;
	background-color: #fff;
	transform: translateY(-3px) rotate(25deg);
}

.stickman--right--leg {
	transform: translateY(-151px) rotate(-25deg);
}

.fiat--currency--box {
	height: 50px;
	width: 50px;
}

.fiat--currency--box--usd {
	transform: translateY(-180px) translateX(100px) rotate(30deg);
}

.fiat--currency--box--eur {
	transform: translateY(-284px) translateX(120px) rotate(-30deg);
}

.fiat--currency--box--jpy {
	transform: translateY(-299px) translateX(-137px) rotate(-30deg);
}

.fiat--currency--box--gbp {
	transform: translateY(-409px) translateX(-150px) rotate(30deg);
}
