.view--all {
	width: 100%;
	color: #fff;
}

.view--all--header {
	margin: 40px 0;
}

.view--all--header h1 {
	text-align: center;
}

.view--all--header h2 .fa {
	margin-right: 10px;
}

.view--all--input {
	width: 400px;
}

.view--all--table--headers {
	display: flex;
	text-align: center;
}

.view--all--track,
.view--all--tracked {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #555598;
	border: none;
	color: #fff;
	margin: 0 auto;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	transition: all 0.5s ease;
}

.view--all--tracked {
	background-color: #27ab27;
	color: #fff;
}

td.view--all-percentage--positive {
	color: #27ab27;
}

td.view--all--percentage--negative {
	color: red;
}

/* Table Styles */

.view--all--table--header--rank {
	width: 5%;
	text-align: center;
}

.currency--table--card--rank {
	width: 5%;
}

.view--all--table--header--name {
	width: 15%;
}

.view--all--name {
	width: 15%;
}

.view--all--table--header--marketcap {
	width: 20%;
	text.align: center;
}

.currency--table--card--marketcap {
	display: flex;
	width: 20%;
	justify-content: center;
}

.view--all--table--header--price {
	width: 10%;
}

.currency--table--card--price {
	display: flex;
	width: 10%;
	justify-content: center;
}

.view--all--table--header--24hvwap {
	width: 5%;
}

.currency--table--card--vwap {
	width: 5%;
}

.view--all--table--header--supply {
	width: 10%;
}

.currency--table--card--supply {
	width: 10%;
}

.view--all--table--header--volume {
	width: 15%;
}

.currency--table--card--usdVolume {
	width: 15%;
}

.view--all--table--header--percentage {
	width: 10%;
}

.currency--table--card--percentage {
	width: 10%;
}

.view--all--table--card--track {
	width: 10%;
}

.currency--table--card-track {
	width: 10%;
}

.currency--table--card--percentage--positive {
	color: #60f160;
}

.price--postfix {
	font-size: 0.8em;
}

.currency--table--card--percentage--negative {
	color: #ff6a6a;
}
