.view--all {
	width: 100%;
	color: #fff;
}

.view--all--background {
	background: linear-gradient(0deg, rgba(38, 38, 97, 0.8), rgba(38, 38, 97, 0.8)), url('../../img/starrysky3.jpg');
	background-repeat-y: repeat;
	color: #fff;
}

.view--all .spinner {
	margin-top: 80px;
}

.view--all--header {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.view--all--header--search {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input.view--all--input {
	background: transparent;
	border: 2px solid #fff;
}

input.view--all--input:focus {
	border: 2px solid transparent;
	border-bottom: 2px solid #fff;
}

.view--all--choose--currency {
	box-sizing: border-box;
	padding: 15px 30px;
	border: 2px solid #fff;
	border-radius: 3px;
}

.view--all--choose-currency--header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.view--all--choose-currency--header > .fa {
	font-size: 2rem;
}

.view--all--choose--dropdown {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.view--all--choose--dropdown--menu {
	position: absolute;
	background-color: #fff;
	box-sizing: border-box;
	top: 40px;
	color: #888;
	border-radius: 3px;
	z-index: 999;
	max-height: 400px;
	overflow: scroll;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.view--all--choose--dropdown--button {
	width: 40px;
	border-radius: 50px;
	padding: 7px 5px;
	background-color: #fff;
	color: #555598;
	display: flex;
	justify-content: center;
	font-size: 0.8rem;
}

.view--all--choose--dropdown--list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.view--all--choose--dropdown--list > li {
	padding: 8px;
}

.view--all--choose--dropdown--list > li:hover {
	color: #fff;
	background-color: #555598;
}

.view--all h1 {
	text-align: center;
}

.view--all--header h2 .fa {
	margin-right: 10px;
}

.view--all--input {
	width: 400px;
}

.view--all--table--headers {
	display: flex;
	text-align: center;
	justify-content: center;
}

.view--all--track,
.view--all--tracked {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #555598;
	border: none;
	color: #fff;
	margin: 0 auto;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	transition: all 0.5s ease;
}

.view--all--tracked {
	background-color: #27ab27;
	color: #fff;
}

td.view--all-percentage--positive {
	color: #27ab27;
}

td.view--all--percentage--negative {
	color: red;
}

/* Table Styles */

.view--all--table--header--rank {
	width: 5%;
	text-align: center;
}

.currency--table--card--rank {
	width: 5%;
}

.view--all--table--header--name,
.view--all--name {
	width: 15%;
}

.view--all--table--header--marketcap {
	width: 20%;
	text.align: center;
}

.currency--table--card--marketcap {
	display: flex;
	width: 20%;
	justify-content: center;
}

.view--all--table--header--price {
	width: 10%;
}

.currency--table--card--price {
	display: flex;
	width: 10%;
	justify-content: center;
	color: #60f160;
}

.view--all--table--header--24hvwap,
.currency--table--card--vwap {
	width: 5%;
}

.view--all--table--header--supply,
.currency--table--card--supply {
	width: 10%;
}

.view--all--table--header--volume {
	width: 15%;
}

.currency--table--card--usdVolume {
	width: 15%;
	display: flex;
	justify-content: center;
}

.view--all--table--header--percentage,
.currency--table--card--percentage {
	width: 10%;
}

.view--all--table--card--track,
.currency--table--card-track {
	width: 10%;
}

.currency--table--card--percentage--positive {
	color: #60f160;
}

.price--postfix {
	font-size: 0.8em;
}

.currency--table--card--percentage--negative {
	color: #ff6a6a;
}

@media (max-width: 1200px) {
	.view--all--table--header--supply,
	.currency--table--card--supply {
		display: none;
	}

	.view--all--table--header--price,
	.currency--table--card--price {
		width: 15%;
	}

	.view--all--table--header--volume,
	.currency--table--card--usdVolume {
		width: 20%;
	}
}

@media (max-width: 1050px) {
	.view--all--table--header--24hvwap,
	.currency--table--card--vwap {
		display: none;
	}

	.view--all--table--header--marketcap,
	.currency--table--card--marketcap {
		width: 25%;
	}
}

@media (max-width: 890px) {
	.view--all--table--header--volume,
	.currency--table--card--usdVolume {
		display: none;
	}

	.view--all--table--header--marketcap,
	.currency--table--card--marketcap {
		width: 30%;
	}

	.view--all--table--header--price,
	.currency--table--card--price {
		width: 20%;
	}

	.view--all--table--header--percentage,
	.currency--table--card--percentage {
		width: 15%;
	}
}

@media (max-width: 790px) {
	.view--all--choose--currency {
		margin-top: 15px;
		width: 70%;
	}
	.view--all--choose-currency--header {
		flex-direction: row;
		justify-content: center;
	}
	.view--all--choose-currency--header .fa {
		margin-right: 10px;
	}
	.view--all--choose--dropdown--menu {
		width: 100%;
	}
	.view--all--choose--dropdown {
		width: 80%;
		margin: 0 auto;
	}
}
