.frontend--blog--blogpost--container {
	padding: 60px 0;
	width: 80%;
	margin: 0 auto;
}

.frontend--blog--blogpost {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 3px;
	box-sizing: border-box;
	padding-bottom: 60px;
}

.frontend--blog--blogpost img {
	width: 100%;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.frontend--blog--blogpost--inner--container {
	width: 80%;
	margin: 0 auto;
	color: #888;
	height: 100%;
	max-width: 500px;
}

.frontend--blog--blogpost--title {
	color: #000;
	text-align: center;
}

.frontend--blog--blogpost--author--header {
	margin-bottom: 0;
	margin-top: 30px;
}

.frontend--blog--blogpost--author {
	display: flex;
	align-items: center;
	margin: 10px 0 30px 0;
}

.frontend--blog--blogpost--author img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.frontend--blog--blogpost ol {
	font-size: 1.1em;
	color: #585858;
	font-family: Montserrat, sans-serif;
}

.frontend--blog--blogpost ol > li {
	margin: 15px 0;
	line-height: 2;
}

.frontend--blog--blogpost h3 {
	color: #000;
	margin: 0;
	font-size: 1.5em;
}

.frontend--blog--blogpost a {
	color: #5555ff;
}

.frontend--blog--blogpost strong {
	color: #000;
	font-weight: bold;
}

.frontend--blog--blogpost--content p {
	font-size: 1.2em;
	line-height: 2;
	max-width: 500px;
	color: #585858;
	margin: 0 auto;
}

.frontend--blog--blogpost--reading--time {
	color: #585858;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	font-size: 1.1em;
}

.frontend--blog--blogpost--reading--time .fa {
	font-size: 1.2em;
	margin-right: 8px;
}

h3.frontend--blog--blogpost--author--name {
	font-size: 1.2em;
	color: #585858;
}
